body {
	font-family: sans-serif;

}

header #company-name {
	margin-top: 64px;
	width: 540px;
	height: 240px;
	background: url("syf-gaps-r1-stroked.svg");
	text-indent:-9999px;
	margin-left: auto;
	margin-right: auto;
}

body #contact {
	margin-top: 64px;
	text-align: center;
}

body #contact a:link {
	color: #333333;
	text-decoration:none;
}

body #contact a:visited {
	text-decoration:none;
}

body #contact a:hover {
	color: #1111bb;
	text-decoration:underline;
}

body #contact a:active {
	text-decoration:underline;
}