    <!-- Contact Section -->
    <section id="contact" class="content-section">
        <div class="contact-section">
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Contact</h2>
                        <p>For more information or to discuss a specific project please call or email</p>
                    </div>
                </div>
                <div id="email" class="row">                    
                    <p>
                        Email<br>
                        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </p> 
                </div>
                <div id="telephone" class="row">
                    <div class="col-lg-3 col-lg-offset-3">
                        <p>
                            Tel 1<br>
                            <span class="highlight">+49 174 9193288</span>
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <p>
                            Tel 2<br>
                            <span class="highlight">+49 471 30930151</span>
                        </p>
                    </div>
                </div>
                <div id="address" class="row">
                    <div class="col-lg-4 col-lg-offset-4">
                        <p>
                            Address<br>
                            <span class="highlight">
                                SuperYacht Finishing<br>
                                Am Lunedeich 145<br>
                                27572 Bremerhaven<br>
                                Germany
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>