    <!-- Contact Section -->
    <section id="contact" class="content-section">
        <div class="contact-section">
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Contact</h2>
                        <p>For more information or to discuss a specific project please call or email</p>
                    </div>
                </div>
                <div id="email" class="row">
                    <p>
                        Email<br>
                        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </p> 
                </div>
                <div id="telephone" class="row">
                    <p>
                        Telephone<br>
                        <span class="highlight">+49 162 1039053</span>
                    </p>
                </div>

                <div id="address" class="row">
                    <p>
                        Address<br>
                        <span class="highlight">Richard Precious<br>Hütten 95c, 20355 Hamburg, Germany</span>
                    </p>
                </div>
                
            </div>
        </div>
    </section>