<!-- Services Section -->
<section id="services" class="content-section">
    <div class="services-section">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">SuperYacht Services</h2>
                    <h3 class="section-subheading text-muted">This is what we do</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Filling & Fairing</h4>
                    <p class="text-muted">Our highly skilled fairing teams will perfect the geometry of your hull and superstructure. Edging the straightest of lines and forming the smoothest of surfaces. Providing the best foundation possible for that mirror finish in the paint to come.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Top Coating</h4>
                    <p class="text-muted">Our master top coat sprayers work together using their time honed experience and techniques to deliver a seamless and uniform paint finish over expansive areas. Applying the most demanding of coatings including high gloss, metallics and iridescents.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Interior Painting</h4>
                    <p class="text-muted">We can take care of all interior corrosion protection works including painting of Engine Rooms, Lockers, Bilges, Tanks and behind Insulation. Whether the surface is visible or hidden the same rigour in application is needed when it comes to protecting your investment.</p>
                </div>
            </div>
        </div>
    </div>
</section>